@{
    ViewBag.Title = "Home Page";
}

<h2>Get More Help</h2>
<p>To help you better use our software, we provide numerous resources describing the best practices for using our controls in real-life applications, as well as different support options to help you solve specific tasks.</p>
<p>Please choose an appropriate option from the list below.</p>

<h3>Overview</h3>
<ul>
    <li>
        <p>
            <a href="https://www.devexpress.com/Support/Start/#!platform=aspnet">Get Started with DevExpress</a><br/>
            Choose a platform and view our online tutorials, videos and product documentation.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/Support/Demos/#!platform=aspnet">Online Demos</a><br/>
            Choose a platform and view and/or download all available demos.
        </p>
    </li>

    <li>
        <p>
            <a href="http://www.youtube.com/user/DeveloperExpress/">YouTube Video Channel</a><br/>
            Subscribe to our video channel to receive first-hand information from DevExpress and explore the featured video content.
        </p>
    </li>
</ul>

<h3>Help Resources</h3>
<ul>
    <li>
        <p>
            <a href="https://documentation.devexpress.com/#AspNet/CustomDocument7873">Online Documentation</a><br/>
            Explore the latest edition of the official documentation that is supplied with DevExpress products.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/Support/Center/Example/List/">Code Examples</a><br/>
            Discover hundreds of real-world applications that showcase DevExpress products in various settings and provide robust and reusable code.
        </p>
    </li>

    <li>
        <p>
            <a href="http://search.devexpress.com/">DevExpress Search</a><br/>
            Rely on a custom search engine to find information about a specific product or technology among varied sources.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/Support/Center/">Support Center</a><br/>
            For direct and urgent assistance, submit an issue in our Support Center or send an e-mail to <a href="mailto:support@devexpress.com">support@devexpress.com</a>.<br/>
            When reporting a bug, we would greatly appreciate detailed, step-by-step instructions on how to reproduce it, along with a sample project localizing this issue.
        </p>
    </li>

</ul>

<h3>Advanced Learning</h3>
<ul>
    <li>
        <p>
            <a href="https://www.devexpress.com/Support/Webinars/">Webinars</a><br/>
            Join us online and learn more about DevExpress products.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/Home/Training/">Classroom Training</a><br/>
            Check for upcoming workshops scheduled near your location.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/TrainingCenter/">Online Training Center</a><br/>
            Sign up for our complete online training courses to get the most out of DevExpress products.
        </p>
    </li>
</ul>

<h3>Community Resources</h3>
<ul>
    <li>
        <p>
            <a href="http://community.devexpress.com/blogs/">Blogs</a><br/>
            Keep up with industry news and receive the latest information from DevExpress.
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.devexpress.com/Home/Community/">Events and Tradeshows</a><br/>
            Join DevExpress at an upcoming industry gathering.
        </p>
    </li>
</ul>